@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to my Docker Web App Demo</h1>
        <p>This Web App is running in a Docker Container</p> 
        <p>This page was updated</p>
    </div>
